#!/usr/bin/make -f

ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
CC = gcc
CFLAGS = -g -Wall
STRIP =

OPTS = NO_OPENSSL=1 WITH_P4IMPORT=1 THREADED_DELTA_SEARCH=1
ifeq (hppa,$(ARCH))
  CFLAGS += -O0
else
  CFLAGS += -O2
endif

ifeq (powerpc,$(ARCH))
  OPTS += PPC_SHA1=1
endif

# Usual debian packaging from now on
%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- $(OPTS)

override_dh_auto_install:
	dh_auto_install -- $(OPTS)

override_dh_auto_clean:
	make clean
	[ -d tests ] && $(MAKE) -C tests clean
	[ -d git ] && $(MAKE) -C git clean
