#!/usr/bin/make -f

# First, some decision on how to configure the package
OPTS = NO_OPENSSL=1 CGIT_SCRIPT_PATH=/usr/lib/cgi-bin CGIT_DATA_PATH=/usr/share/cgit

# Determine some arch-specific settings
ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq (powerpc,$(ARCH))
  OPTS += PPC_SHA1=1
endif

# Usual debian packaging from now on
%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- $(OPTS)

override_dh_auto_install:
	dh_auto_install -- $(OPTS)

override_dh_auto_clean:
	make clean
	[ -d tests ] && $(MAKE) -C tests clean
	[ -d git ] && $(MAKE) -C git clean
